*{
    margin: 0;
    padding: 0;
}
/* BODY */
body{
    background-color:#EAC9B7;
    opacity: 0;
    transform: translateY(-20px);
    animation: softLoad 0.8s ease-out forwards;
}

@keyframes softLoad {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HEADER */
.header {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #CBE8CC;
    display: flex;
    color:#5C3D2E;
    font-family: 'Playfair', serif;
    font-weight: bold;
}
.headernamatoko{
    text-align: left;
    margin-left: 25px;
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: lighter;
}
/* NAVBAR */
.navbar {
    margin: 0;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    font-size: 25px;
}
.navbar a {
  text-decoration: none;
  color:#5C3D2E;
  margin-left: 25px;
  font-weight: 600;
  transition: color 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color:#EAC9B7;
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.dropbtn {
  background-color: #CBE8CC;
  font-family: 'Playfair', serif;
  font-weight: bold;
  color: #5C3D2E;
  padding: 8px 8px;
  margin-left: 20px;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 200px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 8px;
  font-size: 17px;
  z-index: 1;
}

.dropdown-content a {
  color: #5C3D2E;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #CBE8CC;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #EAC9B7;;
}

/* HOMEPAGE */
.homepage {
    background-image: url(../images/eskrim/homepage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90vh;
    margin-top: 0;
}
h2{
    font-size: 70px;
    color:#ffffff;
    font-family: 'Playfair', serif;
}
p{
    font-size: 25px;
    color:#ffffff;
    font-family: 'Nunito', sans-serif;
}
.overlay{
    /* position:absolute; */
    top: 0;
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.158); */
}
button{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 20px;
    background-color: #EAC9B7;
    border-radius: 25px;
    border: none;
    color:#5C3D2E;
    transition: transform .25s ease, background .3s;
    margin: 20px auto;
    cursor: pointer;
}
button:hover,
button.active{
    background-color:#CBE8CC;
    transform: translateY(-3px) scale(1.03);
}
hr{
    background-color:#CBE8CC;
    height: 8px;
    border: none;
}
/* ABOUT */
.about-card {
    padding: 50px;
    padding-top: 10px;
    margin: 20px auto;
    max-width: 800px;
    margin-top: 70px;
    background-color:#CBE8CC;
    border-radius: 20px;
    border: #5C3D2E solid 3px;
}
.about h2, .visi h2, .misi h2 {
    font-family: 'Playfair', serif;
  color:#5C3D2E;
  line-height: 1.7;
  text-align: center;
  font-size: 40px;
  margin-bottom: auto;
}
.about p {
  line-height: 1.7;
  color:#5C3D2E;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 17px;
}
.visi, .misi{
    padding: 50px;
    padding-top: 10px;
    max-width: 300px;
    margin: 20px auto;
    margin-top: 10px;
    background-color:#CBE8CC;
    border-radius: 20px;
    border: #5C3D2E solid 3px;
}
.visi{
    margin-right: 40px;
}
.misi{
    margin-left: 40px;
}
.visi-misi {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}
.about-card:hover,.visi:hover,.misi:hover {
  transform:scale(1.06); 
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.582);
}

/* FOOTER */
footer p{
    font-family: 'Playfair', serif;
    font-size: 20px;
   color: #5C3D2E;
}
footer{
  background-color:#CBE8CC;
  padding: 50px 20px;
  text-align: center;
  font-weight: bolder;
  margin-top: 70px;
}
/* DARK MODE */
body.dark-mode {
  background-color: #B39EB5;
}
#darkModeToggle{
  background:#EAC9B7;
  border: 1px solid #5C3D2E;
  border-radius: 15px;
  padding: 10px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.3s ease;
  color:  #ffffff;
  box-shadow: 0 2px 6px rga(190, 170, 255, 0.2);
  margin-left: 20px;
}
#darkModeToggle:hover {
  transform: scale(1.2);
  color: #5C3D2E;
}
