*{
    margin: 0;
    padding: 0;
}
/* BODY */
body{
    background-color:#EAC9B7;
    opacity: 0;
    transform: translateY(-20px);
    animation: softLoad 0.8s ease-out forwards;
}

@keyframes softLoad {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* HEADER */
.header {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #CBE8CC;
    display: flex;
    color:#5C3D2E;
    font-family: 'Playfair', serif;
    font-weight: bold;
}
.headernamatoko{
    text-align: left;
    margin-left: 25px;
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: lighter;
}
/* NAVBAR */
.navbar {
    margin: 0;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    font-size: 25px;
}
.navbar a {
  text-decoration: none;
  color:#5C3D2E;
  margin-left: 25px;
  font-weight: 600;
  transition: color 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color:#EAC9B7;
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.dropbtn {
  background-color: #CBE8CC;
  font-family: 'Playfair', serif;
  font-weight: bold;
  color: #5C3D2E;
  padding: 8px 8px;
  margin-left: 20px;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 200px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 8px;
  font-size: 17px;
  z-index: 1;
}
.dropdown-content a {
  color: #5C3D2E;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #CBE8CC;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #EAC9B7;
}

/* SIDEBAR */
.sidebar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
}
.kanan{
    width: 400px;
    background-color: #f7d3b8;;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.video-items {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.items-video {
    background-color:#CBE8CC;
    padding: 15px;
    border-radius: 10px;
    width: 370px;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.233);
    transition: 0.3s ease;
}
iframe{
    width: 370px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.items-video:hover {
    transform:scale(1.03); 
    box-shadow:0 12px 28px rgba(0,0,0,0.10); 
    transition: 0.3s ease;
}
h2{
    font-family: 'Playfair', serif;
    color:#5C3D2E;
    line-height: 1.7;
    text-align: center;
    font-size: 40px;
    margin: 15px auto;
}
.kanan h2{
    font-family: 'Playfair', serif;
    color:#5C3D2E;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}
p {
  color:#5C3D2E;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 17px;
  margin-top: 5px;
}
h3 {
  color:#5C3D2E;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 15px;
}

/* ORDER */
.order-section {
  background-color:#CBE8CC;
  padding: 20px;
  border-radius: 12px;
  width: 900px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.order-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order-section input,
.order-section select,
.order-section button,
.order-section textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Nunito', sans-serif;
}
.order-section button {
  background-color: #EAC9B7;
  color:#5C3D2E;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.order-section button:hover {
  background-color:#aac5ab;
}
h2{
  font-family: 'Playfair', serif;
  color:#5C3D2E;
  text-align: center;
  font-size: 40px;
}
p {
  color:#5C3D2E;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 17px;
  margin-bottom: 15px;
}
label{
  font-size: 18px;
  color:#5C3D2E;
  font-family: 'Nunito', sans-serif;
}
/* CONTACT */
.contact-info {
  margin-top: 25px;
  background-color: #EAC9B7;
  padding: 25px;
  border-radius: 12px;
  width: 600px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.contact-info h3, 
.sosmed h3 {
  font-family: 'Playfair', serif;
  color:#5C3D2E;
  margin-bottom: 10px;
  font-size: 25px;
}
.contact-info p {
  font-family: 'Playfair', serif;
  color:#5C3D2E;
  font-size: 23px;
  display: flex;             
  justify-content: left;    
  gap: 8px;                   
  margin: 6px 0;
  align-items: center;
  line-height: 1.6;
}
.contact-info i {
  margin-right: 8px;
  size: 18px;
  line-height: 1;
  justify-content: center;
}
.sosmed{
  margin-top: 20px;
  text-align: center;
  margin-top: 25px;
  background-color: #EAC9B7;
  padding: 25px;
  border-radius: 12px;
  width: 600px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.sosmed a {
  color: #5C3D2E;
  font-size: 25px;
  margin-right: 15px;
  transition: 0.3s;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.sosmed a:hover i {
  color: #b07b5e; 
  transform: scale(1.2);
  transition: 0.3s ease;
}
.contact-info:hover,
.sosmed:hover{
  transform:scale(1.03); 
  box-shadow:0 12px 28px rgba(0,0,0,0.10); 
  transition: 0.3s ease;
} 
/* FOOTER */
footer{
  background-color:#CBE8CC;
  color: #5C3D2E;
  padding: 50px 20px;
  text-align: center;
  margin-top: 70px;
}
footer p{
    font-family: 'Playfair', serif;
    font-weight: bolder;
    font-size: 20px;
}
/* DARK MODE */
body.dark-mode {
  background-color: #B39EB5;
}
#darkModeToggle{
  background:#EAC9B7;
  border: 1px solid #5C3D2E;
  border-radius: 15px;
  padding: 10px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.3s ease;
  color:  #ffffff;
  box-shadow: 0 2px 6px rga(190, 170, 255, 0.2);
  margin-left: 20px;
}
#darkModeToggle:hover {
  transform: scale(1.2);
  color: #5C3D2E;
}


